.user-page {
    min-height: 650px;
}

.register-page,
.user-page,
.login-page,
.layout {
    background-image: url("https://img2.akspic.com/image/135046-rastitelnost-list-vetv-zelenyj-zavod-2560x1440.jpg");
}


.row {
    min-height: 550px;
}

main{
    margin-top: 30px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #cee0ab;
    box-shadow: 0 0 15px #201f1f;
    border-radius: 5px;
}

.flex-container h1 {
    align-self: center;
    text-shadow: #669767 0.5px 0.5px 3px, #669767 0.5px 0.5px 3px, #669767 1px 1px 3px, #669767 1px 1px 3px, #669767 2px 2px 3px;
}

.user-page h1 {
    color: white;
}

button[type=submit] {
    width: 120px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

p {
    padding-bottom: 0;
}

.form-group-link {
    margin-top: 30px;
}

a {
    color: #544234;
}

a:hover {
    color: #332820;
}

.button-box {
    display: flex;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 32px;
    height: 32px;
    margin: 0 0 0 5px;
    font: inherit;
    color: inherit;
    
    border: none;
    background-color: #343a40;
    border-radius: 3px;
    
}
.btn-dark {
    margin-bottom: 5px;
}

.button-delete {
    background-image: url(img/del.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-block {
    background-image: url(img/disturb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-block svg{
    top: 0;
    left: 0;
    width: 24px;
    height: 30px;
}

.table,
.thead {
    background-color: beige;
    border-radius: 15px;
}
