html {
    
    background-color: white;
}

.user-page {
    background-color: azure;
}

.user-page .flex-conteiner {
    display: flex;
    flex-direction: column;

    
    min-height: 550px;
}

.table {
background-color: beige;
border-radius: 15px;
}

.footer {
    background-color: white;
}

.flex-conteiner h1 {
    align-self: center;
}

.buttons {
}